:root {
  /* Global Color Scheme */
  --beige: #ede7d9;
  --green: #003300;
  --red: #8b0000;
  --gold: #c9a86b;
  --brown: #654321;
  --charcoal: #36454f;

  /* Notes */
  /* UnifrakturMaguntia: Decorative and only have font weight 400 */
  /* UnifrakturCook: Decorative and only have font weight 700 */
  /* The latter is the bolded version of the previous */

  /* Cormorant Unicase: Normal and have weights 300, 400, 500, 700 */
  /* IM Fell French Canon SC: Normal and only have font weight 400 */

  font-family: 'Cormorant Unicase', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--brown);
  background-color: var(--beige);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
